.repo-name {
  color: #0366d6;
  font-weight: 600;
  font-size: 20px;
}
.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}

.repo-date {
  display: inline;
  margin: auto;
}
.repo-language {
  display: inline;
  margin: auto;
}
.border-bottom {
  border-bottom: 1px solid;
}
