.login-page {
  background-image: url(../Assets/Images/loginpage.jpeg);
  height: 100%;
  position: relative;
}

html,
body,
#root,
.App {
  height: 100%;
}

.login-page-input {
  position: absolute;
  top: 35%;
  left: 35%;
  margin: auto !important;
  width: 25% !important;
  height: 50px !important;
}
.login-page-input-button {
  position: absolute;
  top: 45%;
  left: 40%;
  margin: auto !important;
  width: 15% !important;
  height: 50px !important;
}
::placeholder {
  color: black;
}
